# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.MeetingRoom.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\project\meeting_room\.idea\.idea.MeetingRoom\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
